*{
	margin: 0;padding: 0;
}
#ul1{
	width: 300px;
	height: 400px;
	border: 1px #111 solid;
	margin: auto ;
	overflow: hidden;
}
#ul1 li{
	list-style: none;
	border-bottom: 1px dashed #ccc;
	padding: 5px;
	overflow: hidden;
	opacity: 0;
}